@font-face {
    font-family: playright;
    src: url(fonts/PlaywriteNGModern-Regular.ttf);
}

@font-face {
    font-family: playrightLight;
    src: url(fonts/PlaywriteNGModern-Light.ttf);
}

@font-face {
    font-family: playrightThin;
    src: url(fonts/PlaywriteNGModern-Thin.ttf);
}

@font-face {
    font-family: Cronus;
    src: url(fonts/CronusRound-KA6y.ttf)
}

@font-face {
    font-family: CronusItalics;
    src: url(fonts/PlaywriteNGModern-Thin.ttf);
}

body {
    margin: 0;
    font-family: playright;
}

.landingPage {
    background-color: rgb(235, 210, 169);
    margin: 0px;
}

/* HEADER CSS START */
header {
    position: sticky;
    top: 0;
    background-color: #2b2b2c;
    color: white;
    padding-top: 1vw;
    padding-left: 2.5vw;
    padding-bottom: 1vw;
    z-index: 3;
    transition: padding 0.5s ease;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: playright;
}

.navbarRight {
    width: 60%;
}

.navbarRight h4 {
    font-size: 1.7vw;
}

header h4 {
    margin: 0px;
    padding-bottom: 3%;
    font-size: 135%;
}

.headerLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70%;
    width: 10%;
}

.headerLinks img {
    width: 1.6vw;
}

/* Header CSS END */

/* MY PAGES CSS */

.mypageLinks {
    margin: 0;
    width: 100%;
    display: flex;
    margin-top: -2.5%;
    padding-left: 3%;
}

#myLink1, #myLink2, #myLink3, #myLink4 {
    color: rgb(157, 157, 157);
    text-decoration: none;
    transition: all 0.3s ease; 
    display: block;
    width: auto;
}

#myLink1 h1, #myLink2 h1, #myLink3 h1, #myLink4 h1 {
    margin-left: 3vw;
    font-size: 2vw;
}

.myPage {
    display: flex;
    align-items: center;
    width: 70vw;
    margin-left: -15%;
}

/* MY PAGES CSS END */


/* MY PICS CSS START */

.myPicContainer {
    height: 35vw;
    float: right;
    margin: 3vw;
    margin-left: 0px;
    margin-right: 18vw;
    margin-top: 1vw;
}

.myPic {
    width: 100%;
    height: 100%;
    border-radius: 30%;
    border-top: rgb(132, 142, 145) solid 1vw;
    border-left: rgb(132, 142, 145) solid 1vw;
}

/* MY PICS CSS END */



/* CONTENT CSS START */

.myName{
    height: 80vh;
    padding-left: 15vw;
    padding-top: 6vw;
}

.myName h1{
    font-size: 4vw;
    margin: 0;
}

.myName p{
    padding-left: 1.8vw;
    font-size: 1.3vw;
}

.introToMe {
    height: 83vh;
    background-color: rgb(244, 204, 139);
    margin: 0px;
    padding-top: 10vh;
    overflow: hidden;
}

.introToMe h1 {
    margin: 0px;
    margin-top: -6vh;
    margin-bottom: 3vh;
    font-size: 3.8vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.intoToMe {
    height: fit-content;
    display: flex;
    justify-content: center;
}

.intoToMe p {
    padding-left: 4vw;
    font-size: 1.9vw;
    font-weight: 500;
    height: fit-content;
    width: 35vw;
    background-color: rgb(247, 222, 183);
    border:rgb(247, 222, 183) 5vw solid;
    border-radius: 45%;
    font-family: 'Courier New', Courier, monospace;
}

.intoToMe img {
    width: 40vw;
    margin-left: 7vw;
    border-radius: 10%;
    margin-bottom: 2vw;
}

/* CONTENT CSS END */
