@font-face {
    font-family: playright;
    src: url(../fonts/PlaywriteNGModern-Regular.ttf);
}

@font-face {
    font-family: playrightLight;
    src: url(../fonts/PlaywriteNGModern-Light.ttf);
}

@font-face {
    font-family: playrightThin;
    src: url(../fonts/PlaywriteNGModern-Thin.ttf);
}

@font-face {
    font-family: Cronus;
    src: url(../fonts/CronusRound-KA6y.ttf)
}

@font-face {
    font-family: CronusItalics;
    src: url(../fonts/PlaywriteNGModern-Thin.ttf);
}

body {
    margin: 0;
    font-family: playright;
}

.landingPage {
    background-color: rgb(230, 220, 204);
    margin: 0px;
}

/* HEADER CSS START */
header {
    position: sticky;
    top: 0;
    background-color: #2b2b2c;
    color: white;
    padding-top: 2vw;
    padding-left: 2.5vw;
    padding-bottom: 1vw;
    z-index: 3;
    transition: padding 0.5s ease;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navbarRight {
    width: 60%;
}

header h4 {
    margin: 0px;
    padding-bottom: 0.5vw;
    font-size: 1.7vw;
}

.headerLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    width: 10%;
}

.headerLinks img {
    width: 1.6vw;
}

/* Header CSS END */



/* MY PICS CSS START */

.myPicContainer {
    height: 35vw;
    float: right;
    margin: 3vw;
    margin-left: 0px;
    margin-right: 6vw;
    margin-top: 1vw;
}

.myPic {
    width: 100%;
    height: 100%;
<<<<<<< Updated upstream
    background-color: rgb(194, 228, 239);
=======
    border-radius: 30%;
    border-top: rgb(132, 142, 145) solid 1vw;
    border-left: rgb(132, 142, 145) solid 1vw;
>>>>>>> Stashed changes
}

/* MY PICS CSS END */



/* MY PAGES CSS */

.mypageLinks {
    margin: 0;
    width: 100%;
    display: flex;
    margin-top: -2.5vw;
}

#myLink1, #myLink2, #myLink3{
    color: rgb(76, 76, 76);
    text-decoration: none;
    transition: all 0.3s ease; 
    display: block;
    width: auto;
}

#myLink1 h1, #myLink2 h1, #myLink3 h1 {
    margin-bottom: 5vw;
}

.myPage {
    display: flex;
    align-items: center;
    width: 70vw;
}

<<<<<<< Updated upstream
/* MY PAGES CSS END */
=======
/* MY PAGES CSS END */

/* CONTENT CSS START */

.myName{
    height: 80vh;
    padding-left: 25vw;
    padding-top: 6vw;
}

.myName h1{
    font-size: 4vw;
    margin: 0;
}

.myName p{
    padding-left: 1.8vw;
    font-size: 1.3vw;
}

.introToMe {
    height: 100vh;
    background-color: rgb(186, 190, 194);
    margin: 0px;
    padding-top: 10vh;
}

.introToMe h1 {
    margin: 0px;
    font-size: 3vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.intoToMeParagraph {
    height: fit-content;
    display: flex;
    justify-content: center;
}

/* CONTENT CSS END */
>>>>>>> Stashed changes
