@font-face {
    font-family: playright;
    src: url(../fonts/PlaywriteNGModern-Regular.ttf);
}

@font-face {
    font-family: playrightLight;
    src: url(../fonts/PlaywriteNGModern-Light.ttf);
}

@font-face {
    font-family: playrightThin;
    src: url(../fonts/PlaywriteNGModern-Thin.ttf);
}

@font-face {
    font-family: Cronus;
    src: url(../fonts/CronusRound-KA6y.ttf)
}

@font-face {
    font-family: CronusItalics;
    src: url(../fonts/PlaywriteNGModern-Thin.ttf);
}

body {
    margin: 0;
}

/* HEADER CSS START */
header {
    position: sticky;
    top: 0;
    background-color: #2b2b2c;
    color: white;
    padding-top: 1vw;
    padding-left: 2.5vw;
    padding-bottom: 1vw;
    z-index: 3;
    transition: padding-top 0.3s ease;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: playright;
}

.navbarRight {
    width: 60%;
}

header h4 {
    margin: 0px;
    padding-bottom: 0.5vw;
    font-size: 1.7vw;
}

.headerLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    width: 10%;
}

.headerLinks img {
    width: 1.6vw;
}
/* Header CSS END */

/* MY PAGES CSS */

.mypageLinks {
    margin: 0;
    width: 100%;
    display: flex;
    margin-top: -2.5%;
}

#myLink1, #myLink2, #myLink3, #myLink4 {
    color: rgb(157, 157, 157);
    text-decoration: none;
    transition: all 0.3s ease; 
    display: block;
    width: auto;
}

#myLink1 h1, #myLink2 h1, #myLink3 h1, #myLink4 h1 {
    margin: 0px;
    padding: 0px;
    font-size: 1.8vw;
    margin-right: 3vw;
}

.myPage {
    display: flex;
    align-items: center;
    width: 70vw;
    margin-left: -7%;
}

/* MY PAGES CSS END */

/* MY PROJECTS CSS START */

.title {
    display: flex;
    justify-content: center;
    margin-top: 0.7vh;
    font-family: Cronus;
    font-size: 4.3vh;
}

.projectGridbox {
    margin-top: 1vh;
    /* margin-left: 1.4vw; */
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    font-family: Cronus;
    width: 100vw;
    height: 53vh;
}

.projectGridbox a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: lightblue solid 2px;
    width: 31.5%;
}

/* HIDDEN PROJECT DESCRIPTION */
.gridtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    opacity: 40%;
    width: 100%;
    height: 100%;
    color: black;
}

#unit2proj {
    background-image: url(../images/unit2projpic.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

/* MY PROJECTS CSS END */