@font-face {
    font-family: playright;
    src: url(../fonts/PlaywriteNGModern-Regular.ttf);
}

@font-face {
    font-family: playrightLight;
    src: url(../fonts/PlaywriteNGModern-Light.ttf);
}

@font-face {
    font-family: playrightThin;
    src: url(../fonts/PlaywriteNGModern-Thin.ttf);
}

@font-face {
    font-family: Cronus;
    src: url(../fonts/CronusRound-KA6y.ttf)
}

@font-face {
    font-family: CronusItalics;
    src: url(../fonts/PlaywriteNGModern-Thin.ttf);
}

body {
    margin: 0;
    font-family: playright;
    /* background-color: rgb(235, 210, 169); */
    margin: 0px;
}

.landingPage {
    background-color: rgb(235, 210, 169);
    margin: 0px;
}

/* HEADER CSS START */
header {
    position: sticky;
    top: 0;
    background-color: #2b2b2c;
    color: white;
    padding-top: 1vw;
    padding-left: 2.5vw;
    padding-bottom: 1vw;
    z-index: 3;
    transition: padding 0.5s ease;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navbarRight {
    width: 90%;
}

header h4 {
    margin: 0px;
    padding-bottom: 0.5vw;
    font-size: 1.7vw;
}

.headerLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
    width: 10%;
}

.headerLinks img {
    width: 1.6vw;
}

/* Header CSS END */

/* MY PAGES CSS */

.mypageLinks {
    margin: 0;
    width: 100%;
    display: flex;
    margin-top: -2.5vw;
}

#myLink1, #myLink2, #myLink3, #myLink4, #myLink5 {
    color: rgb(157, 157, 157);
    text-decoration: none;
    transition: all 0.3s ease; 
    display: block;
    width: auto;
}

#myLink1 h1, #myLink2 h1, #myLink3 h1, #myLink4 h1, #myLink5 h1{
    margin-left: 3vw;
    font-size: 2vw;
    width: 100%;
}

.myPage {
    display: flex;
    align-items: center;
    width: 80vw;
    /* margin-left: -0%; */
}

/* MY PAGES CSS END */

/* MY PROJECTS CSS START */

.title {
    display: flex;
    justify-content: center;
    padding-top: 0.7vh;
    font-family: Cronus;
    font-size: 4.3vh;
}

.myProj {
    background-color: rgb(143, 192, 210);
    height: 85vh;
}

.projectGridbox {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    font-family: Cronus;
    width: 100vw;
    height: 53vh;
}

.projectGridbox a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    width: 32%;
    text-decoration: none;
    animation: projectSlideUp 1s forwards;
    opacity: 0;
}

@keyframes projectSlideUp {
    from {
        transform: translatey(+100%);
        opacity: 0;
    }
    to {
        transform: translatey(0);
        opacity: 1;
    }
}

/* HIDDEN PROJECT DESCRIPTION */

.gridtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.854);
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
}

.gridtext h4 {
    font-size: 1.6vw;
    margin: 0.2vw;
}

#projectU1 {
    opacity: 0%;
    transition: opacity 0.4s ease;
}

#projectU2 {
    opacity: 0%;
    transition: opacity 0.4s ease;
}

.gridtext h2 {
    font-size: 2vw;
    margin: 0.2vw;
}


#unit2proj {
    background-image: url(../images/unit2projpic.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

#projectU3 {
    opacity: 0%;
    transition: opacity 0.4s ease;
}

#unit3proj {
    background-image: url(../images/unit3projpic.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    animation-delay: 0.5s;
}

#projectU4 {
    opacity: 0%;
    transition: opacity 0.4s ease;
}

#unit4proj {
    background-image: url(../images/unit4projpic.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    animation-delay: 1s;
}

/* MY PROJECTS CSS END */

/* MY ABOUT ME CSS START */

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vw;
    padding-bottom: 4vw;
    background-color: rgb(235, 210, 169);
    box-shadow: inset 0px -2vw 3vw rgb(244, 204, 139), inset 0 -1vw 1vw rgb(244, 204, 139);
}

.section1 h1 {
    margin: 0;
    margin-bottom: 1vw;
}

.section1 p {
    width: 50vw;
}

.section1 img {
    margin-right: 3vw;
    opacity: 0;
}

#redditLogo {
    margin: 0px;
}

.myComputerIntroLogo {
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#gamersNexusLogo {
    width: 10vw;
    height: 10vw;
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
}

#LTTLogo {
    width: 10vw;
    height: 10vw;
    animation: slideIn 1s forwards;
    animation-delay: 1s;
}

#jayzTwoCentsLogo {
    width: 10vw;
    height: 10vw;
    animation: slideIn 1s forwards;
    animation-delay: 1.5s;
}

#redditLogo {
    width: 10vw;
    height: 10vw;
    animation: slideIn 1s forwards;
    animation-delay: 2s;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(244, 204, 139);
}

.section2 p {
    width: 50vw;
}

.section2 img {
    height: 25vw;
}

/* MY ABOUT ME CSS END */

/* MY CONTACT ME CSS START */

main {
    background: linear-gradient(to right, rgb(142, 31, 222), rgb(204, 70, 249));
    animation: gradient 7s ease infinite;
    background-size: 200% 200%;
    padding-top: 3vw;
    height: 110vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

main h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5vw;
    margin-bottom: 4vw;
    margin-top: 0.5vw; 
    border-bottom: solid 0.5vw rgba(78, 28, 125, 0.854);
    color: rgb(249, 226, 255);
}

form {
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: rgba(122, 46, 192, 0.783);
    padding-left: 5vw;
    padding-right: 5vw;
    border-radius: 5vw;
}

form input {
    margin-bottom: 3vw;
    width: 50vw;
    border: rgb(153, 80, 255) solid;
    box-shadow: 0.25vw 0.25vw rgba(109, 141, 222, 0.799);
}

#message {
    height: 10vw;
    width: 50vw;
    border: rgb(111, 34, 255) solid;
    box-shadow: 0.5vw 0.5vw rgba(109, 141, 222, 0.799);
}

#submit {
    width: 5vw;
    margin-top: 3vw;
    margin-left: 50vw;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(143, 110, 203);
    color: white;
}
/* MY CONTACT ME CSS END */

/* MY TECHNICAL SKILLS CSS START */

@keyframes pageBounce {
    0% { background-position: 0% -20%; }
    25% { background-position: 100% -20%; }
    50% { background-position: 100% -120%; }
    75% { background-position: 0% -120%; }
    100% { background-position: 0% -20%; }
}

.page1 {
    width: 100vw;
    height: 220vh;
    background: radial-gradient(circle, #b0ceb1 50%, transparent 50%), #79b48d; /* Dark circle with light background */
    background-size: 150%; /* Make the dark circle cover nearly the whole viewport */
    background-repeat: no-repeat;
    animation: pageBounce 4s infinite linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: 200vh hidden;
}

.page1-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background: linear-gradient(to right, rgb(234, 248, 226), rgb(115, 168, 130));
    animation: gradient 5s ease infinite;
    background-size: 200% 200%;
}

.page1 h1 {
    margin-top: 1vw;
    margin-bottom: 5vw;
    font-size: 2.5vw;
}

.gridContainer {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    margin-bottom: 8vw;
}

.gridContainer img {
    width: 20vw;
}

.imgContainer {
    width: 15vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img {
    height: 20vw;
}

#JavaScript-Logo {
    height: 20vw;
    width: 30vw;
}

.pythonLogo {
    height: 20vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

figure {
    margin-top: 0px;
    padding: 8vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    border-radius: 3vw;
    background-color: rgb(158,198,169);
}

figure img {
    height: 20vw;
    border-radius: 2vw;
}

figcaption {
    display: flex;
    justify-content: center;
}
/* MY TECHNICAL SKILLS CSS END */